@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full overflow-x-hidden;
  background-color: #edf2f7;

}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}
.my-custom-margin {
  margin-right: 7rem; /* Adjust the value as needed */
}

.my-carousel .carousel .slide img {
  height: 12vw;
  object-fit: cover; /* This will make the images scale to fit */
  width: 100%;
}
